<div class="container">
 <div class="row">
  <h2 class="form-header-title">お知らせ作成</h2>
   <p style="color: #ff6347;"><%= flash[:message] %></p>
    <%= form_for(@information, url: new_admins_information_path) do |f| %>
      <% if @information.errors.any? %>
        <div id="error_explanation">
          <h2><%= @information.errors.count %>件のエラーが発生しました。</h2>
          <ul>
          <% @information.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
          </ul>
        </div>
    <% end %><br>
  <div class="form-row">
    <div class="col-xs-12">
     <div class="form-group">
       <div class="col-xs-6">
        <label class="col-form-label">タイトル</label>
        <%= f.text_field :title, class: "form-control" %>
      </div>
     </div>
    </div>

    <div class="col-xs-12">
     <div class="form-group">
      <div class="col-xs-6">
       <label class="col-form-label">内容</label>
       <%= f.text_area :body, class: "form-control" %>
      </div>
     </div>
    </div>

    <div class="col-xs-12">
     <div class="form-check">
      <div class="col-xs-6">
      <label class="col-form-label">カテゴリー</label>
       <%= f.collection_check_boxes(:category_ids,Category.all,:id,:name) do |category| %>
        <%= category.label do %>
         <%= category.check_box %>
         <%= category.text %>
        <% end %>
       <% end %>
      </div>
     </div>
    </div>

    <div class="col-xs-12">
      <div class="col-xs-6">
        <%= f.submit "保存", class: "btn btn-primary col-xs-3 pull-right" %>
      </div>
    </div>
    <% end %>
  </div>
 </div>
</div>