<div class="container">
	<div class="row">
     <%= link_to 'edit', edit_admins_information_path(@information) %><br>
     <%= link_to 'destroy', admins_information_path(@information), method: :delete %><br>
     <%= @information.created_at.strftime('%Y/%m/%d') %><br>
	 <%= @information.title %><br>
	 <%= @information.body %><br>
	 tag:<%= @information.tag_list.map { |tag| "##{tag}" }.join(' ') %><br>
	</div>
</div>