<!--プロフィール部分テンプレート-->
<div class="col-xs-2">
  <%= attachment_image_tag @user,:profile_image, :fill, 100, 100, format: 'jpeg',fallback: "no_image_icon.jpg", class: "img-circle" %>
</div>
<div class="col-xs-8">
  <h3><%= @user.username %>
      <% if @user == current_user %>
       <%= link_to '', edit_user_path(@user), class: "glyphicon glyphicon-cog" %>
      <% end %>
  </h3>
      <%= @user.caption %>
  <!--フォロー＆フォロワー-->
  <div class="follower">
    <% user ||= current_user %>
    <%= t('.follower') %>
    <%= link_to followers_user_path(@user) do %>
     <%= @user.followers.count %>
    <% end %>
   </div>
   <div class="follow">
     <%= t('.follow') %>
     <%= link_to following_user_path(@user) do %>
      <%= @user.following.count %>
     <% end %>
    </div>
</div>