<div class="container">
	<div class="row">
		<h2><%= t('.Editing Profile') %></h2>
		 <%= form_for(@user) do |f| %>
		   <label><%= t('.username') %></label>
		   <%= f.text_field :username, placeholder: "username", class: "form-control" %>
           <br>
		   <label><%= t('.caption') %></label>
		   <%= f.text_area :caption, placeholder: "caption", class: "form-control" %>
		   <label><%= t('.profile image') %></label>
		   <%= f.attachment_field :profile_image %>
		   <%= f.submit 'update', class: "btn btn-primary" %>
		   <%= link_to t('.withdraw'), withdraw_path(current_user), class: "btn btn-danger" %>
		 <% end %>
	</div>
</div>