<div class="container">
	<div class="row">
		<div class="col-xs-10 center-block">
            <%= render 'profile' %>
        	<% if user ||= current_user %>
        	<%= render 'follow_form' %>
        	<% end %>
    	</div>
		<div class="col-xs-10 center-block">
        <!--ユーザのブックマーク一覧の表示-->
        <ul class="nav nav-tabs">
        	<li class="nav-item">
        			<%= link_to t('.Bookmark'), user_path(@user), class: "glyphicon glyphicon-book active"%>
        	</li>
            <li class="nav-item">
            		<%= link_to t('.Clips'), clip_index_path(@user), class: "glyphicon glyphicon-eye-open nav-link" %>
            </li>
        </ul>

		<% @bookmarks.each do |bookmark| %>
		 <% comic = Comic.find(bookmark.comic_id) %>
		 <div class="col-xs-2">
		 <%= link_to comic_path(comic.id) do %>
	      <%= attachment_image_tag bookmark.comic,:comic_image, :fill, 100, 150, format: 'jpeg',fallback: "no_image.jpg" %>
	     <% end %>
	     <br>
		  <span class="glyphicon glyphicon-book comic-bookmarks" aria-hidden="true"><%= comic.bookmarks.count %></span>
          <span class="glyphicon glyphicon-eye-open comic-clips" aria-hidden="true"><%= comic.clips.count %></span>
          <span class="glyphicon glyphicon-comment comic-comments" aria-hidden="true"><%= comic.comments.count %></span>
		 </div>
		<% end %>
	    </div>
	</div>
</div>
    	</div>