<div class="container">
	<div class="row">
                <%= render 'profile' %>
        <div>
        	<%= render 'follow_form' %>
        </div>

        <!--ユーザのブックマーク一覧の表示-->
        <h3><%= t('.Bookmark') %></h3>
        <h3><%= link_to t('.Clip'), clip_index_path(@user) %></h3>
		<% @bookmarks.each do |bookmark| %>
		 <% comic = Comic.find(bookmark.comic_id) %>
		 <%= link_to comic_path(comic.id) do %>
	      <%= attachment_image_tag bookmark.comic,:comic_image, :fill, 100, 100, format: 'jpeg',fallback: "no_image.jpg" %>
	     <% end %><br>
		 <%= bookmark.comic.title %><br>
		<% end %>
	</div>
</div>