<div class="container">
	<div class="row">
            <%= render 'profile' %>
        <div>
        	<%= render 'follow_form' %>
        </div>

        <!--ユーザのブックマーク一覧の表示-->
        <ul class="nav nav-tabs">
        	<li class="active">
        		<h3>
        			<span class="glyphicon glyphicon-book comic-bookmarks" aria-hidden="true"></span>
        		</h3>
        	</li>
            <li>
            	<h3>
            		<%= link_to clip_index_path(@user), class: "glyphicon glyphicon-eye-open comic-clips" %>
            	</h3>
            </li>
        </ul>
		<% @bookmarks.each do |bookmark| %>
		 <% comic = Comic.find(bookmark.comic_id) %>
		 <%= link_to comic_path(comic.id) do %>
	      <%= attachment_image_tag bookmark.comic,:comic_image, :fill, 100, 100, format: 'jpeg',fallback: "no_image.jpg" %>
	     <% end %><br>
		 <%= bookmark.comic.title %><br>
		<% end %>
	</div>
</div>