<div class="container">
	<div class="row">
	   <!--作品一覧-->
		<div class="col-xs-12 center-block">
	  	<h1><%= t('.trend') %></h1>
	  	<div class="col-xs-3">
	  		<%= form_tag comics_path, method: :get do %>
	   			<%= select_tag :tag_id,
	                    options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
	                    { prompt: 'タグで絞り込み検索',
	                      onchange: 'submit(this.form);'}%>
      		<% end %>
      	</div>
      	<div class="col-xs-9">
        <ul class="nav nav-tabs">
      	    <li class="nav-item active">
      		  <%= link_to t('.trend'), rank_path, class: "nav-link" %>
      	    </li>
        	<li class="nav-item">
      		   <%= link_to t('.All'), comics_path, class: "nav-link" %>
      	    </li>
      	</ul>
	   <!--作品一覧-->
	   	  <% @comics.each do |comic| %>
	   	 	<div class="col-xs-2">
	     		<%= link_to comic_path(comic.id) do %>
	      			<%= attachment_image_tag comic,:comic_image, :fill, 100, 150, format: 'jpeg',fallback: "no_image.jpg" %>
	     		<% end %><br>
		  		<span class="glyphicon glyphicon-book comic-bookmarks" aria-hidden="true"><%= comic.bookmarks.count %></span>
          		<span class="glyphicon glyphicon-eye-open comic-clips" aria-hidden="true"><%= comic.clips.count %></span>
          		<span class="glyphicon glyphicon-comment comic-comments" aria-hidden="true"><%= comic.comments.count %></span>
	        </div>
	      <% end %>
	     </div>
	  	</div>
    </div>
</div>