<div class="container">
	<div class="row">
		<div class="col-xs-12 center-block">
			<h3><%= @comic.title %>/<%= @comic.title_en %></h3>
		<div class="col-xs-5">
			<%= attachment_image_tag @comic,:comic_image, :fill, 200, 250, format: 'jpeg',fallback: "no_image.jpg", size:'200x250' %>
			<br>
			<%= render 'bookmarks/bookmark', comic: @comic %>
			<%= render 'clips/clip', comic: @comic %>
			<span class="glyphicon glyphicon-comment comic-comments" aria-hidden="true">
				<%= @comic.comments.count %>
			</span>
		</div>
	 	<div class="col-xs-7">
	 		<table class="table">
	 			<tr>
	 				<td>ISBN</td>
	 		    	<td><%= @comic.isbn_code %></td>
	 	    	</tr>
	 			<tr>
	 				<td><%= t('.title') %></td>
	 		    	<td><%= @comic.title %>/<%= @comic.title_en %></td>
	 			</tr>
	 			<tr>
	 				<td><%= t('.author') %></td>
	            	<td><%= @comic.author %>/<%= @comic.author_en %></td>
	 			</tr>
	 			<tr>
	 				<td><%= t('.publisher') %></td>
	 				<td><%= @comic.publisher %>/<%= @comic.publisher_en %></td>
	        	</tr>
	        	<tr>
	        		<td><%= t('.outline') %></td>
	            	<td><%= safe_join(@comic.body.split("\n"),tag(:br)) %></td>
	        	</tr>
	        	<tr>
	        		<td><%= t('.total') %></td>
	        		<td>
	        			<div id="star-rate-<%= @comment.id %>"></div>
						<%= @comic.comments.average(:rate).to_f.round(1) %>
					</td>
				</tr>
	    	</table>
	 		<% @comic.tags.each do |tag| %>
	  			<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
	  			<span class="tag"><%= tag.name %></span>
	 		<% end %>
	 	</div>
	 	<div class="col-xs-12 center-block">
	 	<div class="col-xs-5">
			<h2><%= t('.Comment') %></h2>
				<!--コメント入力-->
	    		<%= render 'comments/form' %>
	    </div>
	 	<div class="col-xs-7">
				<!--コメント一覧-->
				<div class="comment_<%= @comic.id %>">
					<%= render 'comments/index' %>
				</div>
		</div>
		</div>
		</div>
	</div>
</div>