<div class="container">
	<div class="row">
	<h1>漫画詳細</h1>
	<%= attachment_image_tag @comic,:comic_image, :fill, 100, 100, format: 'jpeg',fallback: "no_image.jpg" %><br>
	<%= t('.title') %>:<%= @comic.title %>/<%= @comic.title_en %><br>
	<%= t('.author') %>:<%= @comic.author %>/<%= @comic.author_en %><br>
	<%= t('.publisher') %>:<%= @comic.publisher %>/<%= @comic.publisher_en %><br>
	<%= t('.ISBN') %>:<%= @comic.isbn_code %><br>
	<%= t('.outline') %>:<%= @comic.body %><br>
	<%= @comic.tag_list.map { |tag| "##{tag}" }.join(' ') %><br>
	<div id="star-rate-<%= @comment.id %>">
		<%= t('.total') %>:
		<%= @comic.comments.average(:rate).to_f.round(1) %>
	</div>

	<%= render 'bookmarks/bookmark', comic: @comic %>

	 <%= render 'clips/clip', comic: @comic %>

	<h2><%= t('.Comment') %></h2>
	<!--コメント入力-->
	    <%= render 'comments/form' %>
	<!--コメント一覧-->
	<div class="comment_<%= @comic.id %>">
		<%= render 'comments/index' %>
	</div>
	</div>
</div>