<div class="container">
	<div class="row">
		<p style="color: #ff6347;"><%= flash[:message] %></p>
		<%= form_for(@user, url: edit_admins_user_path(@user.id)) do |f| %>
		<div class="col-xs-10">
   			<table class="table table-bordered">
		 		<tr>
		 	 		<td>登録日</td>
			 		<td><%= @user.created_at.strftime('%Y/%m/%d') %></td>
		 		</tr>
		 		<tr>
		 	 		<td>ユーザ名</td>
			 		<td><%= f.text_field :username %></td>
		 		</tr>
		 		<tr>
		 	 		<td>メールアドレス</td>
			 		<td><%= f.text_field :email %></td>
		 		</tr>
		 		<tr>
		 	 		<td>出身国</td>
			 		<td><%= f.country_select :country %></td>
		 		</tr>
		 		<tr>
		 	 		<td>会員ステータス</td>
			 		<td><%= f.radio_button :is_valid, true %>
					    <%= f.label :is_valid, "有効" %>
						<%= f.radio_button :is_valid, false %>
						<%= f.label :is_valid, "退会済み" %>
			 		</td>
		 		</tr>
  			</table>
  			<%= f.submit "変更を保存する", class: "btn btn-sm btn-primary" %>
  		</div>
		<% end %>
	</div>
</div>