<!--概要-->
<div class="container">
<div class="header-about">
	  <h1 class="about-text">MangaMarks</h1>
	  <h1 class="right-headline"><%= t('.What is MangaMarks?') %></h1>
	  <h4 class="right-text"><%= t('.For all the people loving manga') %></h4>
</div>
<!--機能説明-->
<div class="function-explanation">
	<h1 class="function-title"><%= t('.What you can do with this app') %></h1>
	  <div class="function">
	    <h1><i class="fas fa-book-reader"></i><%= t('.record') %></h1>
		<h4><%= t('.Keep a record of Manga you have read and books you are interested in') %></h4>
	   </div>
	   <div class="function">
	    <h1><i class="far fa-comment"></i><%= t('.reviews') %></h1>
		<h4><%= t('.You can review your favorite Manga') %></h4>
	   </div>
	   <div class="function">
		<h1><i class="fas fa-users"></i><%= t('.follow') %></h1>
		<h4><%= t('.You can follow the users you care about') %></h4>
	   </div>
	   <div class="function">
		<h1><i class="fas fa-search"></i><%= t('.search') %></h1>
		<h4><%= t('.You can search by work name, author name, or tag') %></h4>
	   </div>
</div>
<!--アイコン説明-->
<div class="icon-explanation">
	<h1 class="icon-headline"><%= t('.About icon') %></h1>

	 <div class="icon-text">
	   <span class="glyphicon glyphicon-book icon-image" aria-hidden="true"></span>
	   <p class="icon-subtext"><%= t('.Mark of the Manga that I have read')%></p>
     </div>

     <div class="icon-text">
        <span class="glyphicon glyphicon-eye-open icon-image" aria-hidden="true"></span>
        <p class="icon-subtext"><%= t('.Mark the Manga you want to read')%></p>
   	 </div>

   　 <div class="icon-text">
        <span class="glyphicon glyphicon-comment icon-image" aria-hidden="true"></span>
        <p class="icon-subtext"><%= t('.Reviews for the Manga')%></p>
	　　</div>
</div>

<div class="foot">
	<h1 class="foot-text">Enjoy <strong class="foot-text-strong">Manga</strong> Life !!</h1>
</div>
</div>
