<div class="container">
	<div class="row">
		<h1><%= t('.Ranking') %></h1>
		 <% @rankings.each.with_index(1) do |comic, i| %>
		  <%= i %><br>
		  <%= attachment_image_tag comic,:comic_image, :fill, 100, 100, format: 'jpeg',fallback: "no_image.jpg" %>
		  <%= comic.title %><br>
		 <% end %>
		 <br>
		 <h1><%= t('.Informations') %></h1>
		 <% @informations.each do |information| %>
		 <%= information.created_at.strftime('%Y/%m/%d') %>:
		 <%= link_to information.title, information_path(information.id) %>
		 <br>
		 <% end %>
	</div>
</div>