<div class="main-visual">
	<p class="top-message">Welcome to <strong>MangaMarks</strong>!</p>
</div>
		<p style="color: #ff6347;"><%= flash[:message] %></p>
		<h1 class="menu-title"><i class="fas fa-crown" style="color: #ff6347;"></i><%= t('.Ranking') %></h1>
		<div class="top-menu">
		<!--ランキングの表示：お気に入りの多い順(上位５件表示)-->
		 <% @rankings.each.with_index(1) do |comic, i| %>
		  <div class="col-xs-2">
		  <%= i %>
		  <strong><%= comic.title %></strong><br>
		  <%= attachment_image_tag comic,:comic_image, :fill, 100, 150, format: 'jpeg',fallback: "no_image.jpg", size:'100x150' %>
		  <br>
		  <span class="glyphicon glyphicon-book comic-bookmarks" aria-hidden="true"><%= comic.bookmarks.count %></span>
          <span class="glyphicon glyphicon-eye-open comic-clips" aria-hidden="true"><%= comic.clips.count %></span>
          <span class="glyphicon glyphicon-comment comic-comments" aria-hidden="true"><%= comic.comments.count %></span>
		  </div>
		 <% end %>
		</div>
		 <br>
		 <br>
		<!--お知らせ情報-->
		<h1 class="menu-title2"><i class="fas fa-info-circle" style="color: #ff6347;"></i><%= t('.Informations') %></h1>
		<div class="top-menu2">
		 <% @informations.each do |information| %>
		 	<h4><%= information.created_at.strftime('%Y/%m/%d') %></h4>
		    <h5><%= information.title %></h5>
		    <p><%= truncate(information.body) %></p>
		    <%= link_to '>>', information_path(information.id) %>
		 <% end %>
		</div>
	</div>