<div class="row">
    <div class="col-xs-9">
        <%= form_for(@tag, url: admins_tags_path) do |f| %>
         <% if @tag.errors.any? %>
          <div id="error_explanation">
           <h2><%= @tag.errors.count %>件のエラーが発生しました。</h2>
           <ul>
           <% @tag.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
     <% end %><br>
      <%= f.text_field :name %><br>
      <%= f.submit "submit", class:"btn btn-primary" %>
<% end %>
</div>
</div>