<!DOCTYPE html>
<html>
  <head>
    <title>MangaMarks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/<%= ENV['FONTAWESOME'] %>" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bungee+Shade&family=Flamenco:wght@300&family=Kosugi&family=Lobster&family=Pompiere&family=Righteous&display=swap" rel="stylesheet">
  </head>

  <body class="bg-color">
<header>
    <div class="container">
    <nav>
    <ul class="nav navbar-nav nav-size" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
      <li class="navbar-brand">MangaMarks</li>
    <!--ユーザーログイン中ヘッダー-->
    <% if user_signed_in? %>
      <li><%= link_to t('.Top'), root_path %></li>
      <% if unchecked_notifications.any? %>
       <li><%= link_to t('.Notice'), notifications_path, class: "glyphicon glyphicon-bell", style: "color: red;" %></li>
      <% else %>
      <li><%= link_to t('.Notice'), notifications_path %></li>
      <% end %>
      <li><%= link_to t('.Trend'), rank_path %></li>
      <li><%= link_to t('.News'), informations_path %></li>
      <li><%= link_to t('.Mypage'), user_path(current_user) %></li>
      <li><%= link_to t(".Logout"), destroy_user_session_path, method: :delete %></li>
      <li><%=link_to '', search_form_path, class: "glyphicon glyphicon-search" %></li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">Laungage<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" role="menu">
        <li role="presentation"><%= link_to 'Japanese', :locale => 'ja', class: "dropdown-item", role: "menuitem" %></li>
        <li role="presentation"><%= link_to 'English', :locale => 'en', class: "dropdown-item", role: "menuitem"%></li>
          </ul>
      </li>
    <!--管理者ログイン中ヘッダー-->
    <% elsif admin_signed_in? %>
      <li><%= link_to ' 漫画', admins_comics_path  %></li>
      <li><%= link_to ' 会員', admins_users_path  %></li>
      <li><%= link_to 'お知らせ', admins_informations_path %></li>
      <li><%= link_to "ログアウト", destroy_admin_session_path , method: :delete %></li>
      <li><%=link_to '', search_form_path, class: "glyphicon glyphicon-search" %></li>


    <!--非ログイン中ヘッダーー-->
    <% else %>
      <li class="nav-item"><%= link_to t('.Top'), root_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to t(".About"), homes_about_path %></li>
      <li class="nav-item"><%= link_to t(".News"), informations_path %></li>
      <li class="nav-item"><%= link_to t(".SignUp"), new_user_registration_path %></li>
      <li class="nav-item"><%= link_to t(".Login"), new_user_session_path %></li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">Laungage<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" role="menu">
        <li role="presentation"><%= link_to 'Japanese', :locale => 'ja', class: "dropdown-item", role: "menuitem" %></li>
        <li role="presentation"><%= link_to 'English', :locale => 'en', class: "dropdown-item", role: "menuitem"%></li>
          </ul>
      </li>
    <% end %>
 </ul>
</nav>


 </div>
</header>
    <%= yield %>
    <footer>© <%= link_to 'MangaMarks', new_admin_session_path %></footer>
  </body>
  <div id="top-back"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></div>
</html>
